body { background: #27a281; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 41px; display: flex; }
.block-token-0 { color: #2a8043; font-size: 18px; margin-bottom: 5px; }
.block-sms-1 { color: #87a89e; font-size: 20px; margin-bottom: 5px; }
.block-database-2 { color: #f4d8a5; font-size: 14px; margin-bottom: 5px; }
.block-search-3 { color: #8848a0; font-size: 20px; margin-bottom: 5px; }
.block-sms-4 { color: #1f430e; font-size: 20px; margin-bottom: 5px; }